/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

/* LOGO */
.logo {
  height: 100px;
  width: auto;
}

/* CONTENEDOR BOTONES */
.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* BOTONES */
.button {
  padding: 0.7em 1.4em;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #4d4d4d;
  font-size: 13px;

  background-color: rgba(255, 255, 255, 0.6);
  outline: 2px solid #4d4d4d;

  position: relative;
  overflow: hidden;
  z-index: 1;
  isolation: isolate;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  transition: color 0.3s ease,
              transform 0.3s ease,
              box-shadow 0.3s ease;
}

/* HOVER */
.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 4px 5px 17px -4px #4d4d4d;
}

/* EFECTO FONDO */
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #4d4d4d;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 0.6s ease;
}

.button:hover::before {
  width: 250%;
}

/* BODY */
body {
  background-color: transparent;
}